@import "tailwindcss";


:root {
  --background: #000000;
  --text-color: #00ff41; 
}

@layer components {
  .btn {
    @apply inline-flex gap-2 items-center justify-center rounded-md px-2 py-1 
    transition-transform active:scale-95 active:translate-y-0.5;
  }

  .btn-primary {
    @apply bg-white text-black; 
  }

  .btn-hover {
    @apply hover:cursor-pointer hover:scale-110; 
  }

  .page {
     @apply mx-auto max-w-5xl px-4 py-6; 
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-color: var(--text-color); 
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--text-color);
  /*font-family: Arial, Helvetica, sans-serif; */ 
  font-family: monospace;
  height: 100%; 
}
